$color-white: hsl(0, 0%, 100%);
$color-light-green: hsl(148, 38%, 91%);
$color-granny-smith: hsl(186, 15%, 59%);
$color-dark-green: hsl(169, 82%, 27%);
$color-limed-spruce: hsl(187, 24%, 22%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background-color: $color-light-green;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 1rem;
  padding: 2rem;
  background-color: $color-white;

  @media screen and (min-width: 370px) {
    max-width: 600px;
    width: 100%;
    margin: 7rem auto;
  }

  h3 {
    color: $color-limed-spruce;
    font-size: 25px;
  }

  .form {
    .container {
      margin-top: 1rem;
    }

    .input {
      border: 1px $color-granny-smith solid;
      border-radius: 5px;
      width: 100%;
      padding: 8px 5px 8px 20px;
      height: 2.5rem;
      font-size: 16px;

      &:hover {
        border: 1px $color-dark-green solid;
        cursor: pointer;
      }
    }

    .label {
      display: inline-block;
      margin-bottom: 8px;
      color: $color-limed-spruce;

      &::after {
        content: "*";
        padding-left: 10px;
        color: $color-dark-green;
      }
    }

    .fullname {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (min-width: 370px) {
        flex-direction: row;
      }
    }

    .email {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 370px) {
      }
    }

    .querytype {
      display: flex;
      flex-direction: column;

      .typearea {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        @media screen and (min-width: 370px) {
          flex-direction: row;
        }

        label {
          position: relative;
          margin-left: 25px;

          &::before {
            content: "";
            position: absolute;
            left: -25px;
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 1px solid gray;
          }
        }

        input[name="query-type"] {
          display: none;

          // Checked of what ? The label? Or the radio button that is non-visible?
          &:checked ~ label::before {
            background: url("./assets/images/icon-radio-selected.svg") no-repeat
              center center;
            width: 20px;
            height: 20px;
            border: none;
          }
        }

        input[name="query-type"] .general,
        .support {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0.5rem;
          border: 1px $color-granny-smith solid;
          color: $color-limed-spruce;
        }

        .checked {
          background-color: $color-light-green;
        }
      }
    }

    .consent {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 0;

      .consent-content {
        position: relative;
        margin-left: 25px;
        margin-bottom: 0;
        color: $color-limed-spruce;

        &::before {
          content: "";
          position: absolute;
          left: -25px;
          width: 16px;
          height: 16px;
          border: 1px solid gray;
          border-radius: 2px;
        }
      }

      input[name="consent"] {
        display: none;

        &:checked ~ .consent-content::before {
          background: url("./assets/images/icon-checkbox-check.svg") no-repeat
            center center;
          width: 18px;
          height: 18px;
          border: none;
        }
      }
    }

    .textarea {
      height: 4em;
    }

    .submit {
      display: flex;
      padding-top: 1.5rem;

      .submit-button {
        border: none;
        padding: 0.5rem;
        color: $color-white;
        background-color: $color-dark-green;
      }
    }
  }
}
